
{% set events = row._entity.field_eventos_f %}
{% for item in events %}
  {% set paragraph_item = item.entity %}
  {% set title = paragraph_item.field_t_evento.value %}
  {% set image = paragraph_item.field_imagem_evento.entity.uri.value %}
  {% set urlImage = file_url(image) %}
  {% set data = paragraph_item.field_dt_evento.value %}
  {{dump(data)}}
  {% set desc = paragraph_item.field_descricao_evento.value %}

{% endfor %}

<div class="container events mt-5 py-3">
	<div class="row block-events">
		<div class="col-md-4 text-center">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
				<div class="card-body">
					<h5 class="card-title">Título do card</h5>
					<p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
					<a href="#" class="btn btn-primary">Visitar</a>
				</div>
			</div>
		</div>





		<div class="col-md-4 text-center">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
				<div class="card-body">
					<h5 class="card-title">Título do card</h5>
					<p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
					<a href="#" class="btn btn-primary">Visitar</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
				<div class="card-body">
					<h5 class="card-title">Título do card</h5>
					<p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
					<a href="#" class="btn btn-primary">Visitar</a>
				</div>
			</div>
		</div>
	</div>
</div>
