<style>
  /* Ajustes no estilo */
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: transparent;
    z-index: 10;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
  }

  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .nav-list li {
    margin-left: 20px;
  }

  .hero {
    height: 100vh;
    background: url('http://localhost/Site-ADTC/themes/custom/adtc/assets/images/banner-home.webp') no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.1s ease-out;
    margin-top: -5%;
  }


  .hero-title {
    font-family: "Crimson Text";
    font-style: italic;
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 25px;
  }

  .hero-subtitle {
    z-index: 6;
    font-family: Montserrat;
    color: #fff;
    text-align: left;
    font-weight: 700;
    font-size: 70px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .hero-content {
    position: relative;
    z-index: 3;
  }

  .btn-hero {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .nav-list li a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  /* Estilo para a navbar com overlay */
  .section-navbar {
    position: relative;
    z-index: 12;
  }

  .section-navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(139, 139, 139, 0.5); /* Fundo cinza com transparência */
    z-index: 1;
  }

  .navbar {
    position: relative;
    z-index: 2;
  }
</style>

<div class="row section-navbar">
  <nav class="navbar">
    <div class="container">
      <a href="/" class="logo">Igreja AD Croatá</a>
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/eventos">Eventos</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>
  </nav>
</div>

<section class="hero">
  <div class="overlay"></div>
  <div class="hero-content">
    <h1 class="hero-title text-center mb-4">Nossa Fé, Nossa Missão</h1>
    <p class="hero-subtitle mb-5">Unidos pela Graça</p>
    <a href="#" class="btn-hero">Nossos Sermões</a>
  </div>
</section>
