/**
 * @file
 * Subtheme specific CSS.
 */
 body {
  font-family: museo-sans, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  overflow-x: hidden;
}
h4 {
  font-size: 18px;
}

.titulo-icone-topo{
  margin-left: 15px;
}
.conteudo-icones{
  margin-left: 15px;
}
  .main-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .video-background,
  .slick-carousel {
    position: relative;
    width: 100%;
    height: 720px;
    overflow: hidden;
    
    z-index: 0;
  }
  
  .video-background {
    position: relative;
    width: 100%;
    height: 720px;
    overflow: hidden;
    
  }
  
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .menu-overlay-container {
    position: relative;
    width: 100%;
    background: #ffffff; /* Fundo branco para o menu */
  }
  
  .menu-overlay-new {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 0;
    color: black; /* Mudado para preto para contraste com o fundo branco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff; /* Fundo branco sólido */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 100px;
  }
  
  .menu-items {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .menu-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .menu-items li {
    margin: 0 10px;
  }
  
  .menu-items a {
    color: #1f39f2; /* Texto preto para contraste com o fundo branco */
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 0.10em;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #000000; /* Fundo para os ícones (opcional) */
  }
  
  .icons svg {
    width: 24px;
    height: 24px;
    fill: white;
  }
  
  .slick-carousel {
    position: relative;
    width: 100%;
    height: 720px;
  }
  
  .slick-prev, .slick-next {
    z-index: 3;
  }
  
  .banner-item {
    position: relative;
    z-index: 2;
  }
  
  .banner-content {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 3;
    color: #fff;
    padding: 20px;
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
  .video-thumbnail, .overlay, .play-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video-thumbnail {
    z-index: 1;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: opacity 0.3s ease;
  }
  .play-button {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-icon {
    width: 460px;
    height: 260px;
  }
  .video-container:hover .overlay,
  .video-container:hover .play-button {
    opacity: 0;
  }

